GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=
CALENDAR_RANGE=Calendar!A:ZZ
LOOT_RANGE=History!A:Z
BENCH_RULES_RANGE=Bench Rules!A:I
CALENDAR_START_YEAR=2026
WCL_CLIENT_ID=
WCL_CLIENT_SECRET=
WCL_GUILD_NAME=Vitality
WCL_SERVER_SLUG=raden
WCL_REGION=US
WCL_REPORT_LIMIT=20
